@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

* {
  box-sizing: border-box;
}


h1 {
  margin: 0;
  font-size: 5em;
}

.container {
  border: 2px solid #ccc;
  padding: 30px;
  border-radius: 5px;
}

.displayedTime {
  margin-bottom: 30px;
}

button, input[type="submit"] {
  width: 100%;
  padding: 20px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  background-color: #bbb;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

button:hover {
  background-color: #F33535
}

input[type="submit"] {
  background-color: #211a4c;
}

input[type="submit"]:hover {
  background-color: #8200ff;

}

input[type="text"] {
  margin-bottom: 30px;
  padding: 0;
  font-size: 1em;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #222;
}

.Countdown{
  margin: 10px auto;
  padding-bottom: 20px;
}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong{
  font-size: 50px;
}